@import url('https://font.googleapis.com/css?family=PT+Sans+Narrow:400,700&display=swap');
body {
	margin: 0px;
	padding: 0px;
	min-height: 100vh;
	font-family: 'PT sans Narrow', sans-serif;
}

.open {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	z-index: 10000;
}

.open .layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
	transform-origin: top;
	animation: open 1s ease-in-out forwards;
}

.open .layer:nth-child(1) {
	background: #0000;
}

.open .layer:nth-child(1) {
	background: #000;
}
